<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024159410137-rkt0fqt05rtlauomss3af5g0v2js5rvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024159410137-rkt0fqt05rtlauomss3af5g0v2js5rvn</string>
	<key>API_KEY</key>
	<string>AIzaSyC_oC8rDNhNlNP21xXvqJW5xdceTRkbO4g</string>
	<key>GCM_SENDER_ID</key>
	<string>1024159410137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vicishaweddy.timeline</string>
	<key>PROJECT_ID</key>
	<string>lambda-timeline-d4418</string>
	<key>STORAGE_BUCKET</key>
	<string>lambda-timeline-d4418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024159410137:ios:82402c73297c0d5da0dbc8</string>
	<key>DATABASE_URL</key>
	<string>https://lambda-timeline-d4418.firebaseio.com</string>
</dict>
</plist>